<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
      <th>Count</th>
      <th>First Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section[:code] %></td>
        <td><%= section[:name] %></td>
        <td><%= section[:count] %></td>
        <td><%= section[:timestamp] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
