<div id="contact-entry"></div>
<div id="full-history"></div>
<script>
  (function() {
    var from, history;
    (form = new Netblp.ContactEntryView).element.appendTo("#contact-entry");
    (history = new Netblp.HistoryView).element.appendTo("#full-history");
    form.element.on("logged", function(e){
      history.refresh();
    });
  })();
</script>
