<div id="contact-entry"></div>
<div id="full-history"></div>
<script>
  (new Netblp.ContactEntryView).element.appendTo("#contact-entry");
  (new Netblp.HistoryView).element.appendTo("#full-history");
</script>
